html.dark{
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(199deg) brightness(99%) contrast(97%);
  --header-bg-color: #171c28;
  --body-bg-color: #292e39;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow:  rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #EDEDF6;

  
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(10%) saturate(1229%) hue-rotate(186deg) brightness(86%) contrast(88%);
  --top-menu-border-color: #171c28;

  // side-bar
  --sidebar-bg: #292E39;
}