@use "../abstracts";

%flexItemsCenter{
  display: flex;
  align-items: center;
}
.header{
  background-color: var(--header-bg-color);
}
.top-bar{
  @extend %flexItemsCenter;
  position: relative;
  padding: 30px 0;
  z-index: 1;

  @include abstracts.screen(lg) {
    padding: 20px 0;
  }
  @include abstracts.screen(sm) {
    padding: 16px 0;
    justify-content: space-between;
  }

  @include abstracts.screen(md) {
    justify-content: space-between;
  }

  
}
.navbar{
  margin-left: 129px;

  @include abstracts.screen(xl) {
    margin-left: 28px;
  }

  @include abstracts.screen(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    padding: 20px 0;
    margin-left: 0;
    z-index: 11;
    translate: -100%;
    transition: translate 0.5s;
    background-color: var(--sidebar-bg);
    border-radius: 0 20px 20px 0;
    &.show{
      translate: 0;
    }

    &.show ~ &__overlay{
      visibility: visible;
      opacity: 1;
    }

  }

  @include abstracts.screen(md) {
    inset: 0 30% 0 0;
  }
  @include abstracts.screen(sm) {
    inset: 0 20% 0 0;
  }

  &__overlay{
    visibility: hidden;
    opacity: 0;
    
    @include abstracts.screen(lg){
      position: fixed;
      inset: 0;
      z-index: 5  ;
      transition: visibility, opacity;
      transition-duration: 0.5s;
      background-color: rgba(0, 0, 0, 0.4)
    }
  }
  
  &__close-btn{
    display: none;

    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }
    @include abstracts.screen(md) {
      padding: 0 20px 10px;
    }
  }
  &__list{
    @extend %flexItemsCenter;

    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;
      height: calc(100% - 40px);
      overflow-y: auto;
    }
    @include abstracts.screen(md) {
      height: calc(100% - 140px);
    }
  }

 
  &__item{
    &:hover .dropdown{
      display: block;
    }

    @include abstracts.screen(lg) {
      width: 100%;

      &:hover .dropdown{
        display: none;
      }
      &--active .dropdown{
        display: block !important;
      }
    }
    
    
  }
  &__link{
    @extend %flexItemsCenter;
    height: 50px;
    padding: 0 15px;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%; /* 146.667% */

    @include abstracts.screen(lg) {
      justify-content: space-between;
      padding: 0 40px;
      font-size: 1.6rem;
      line-height: 150%; /* 150% */
    }
    @include abstracts.screen(sm) {
      padding: 0 20px;
      height: 44px;

    }
  }
  &__icon{
    margin-top: 3px;
    padding: 0px 2.5px;
    @include abstracts.screen(lg) {
      transform: rotate(-90deg);
      transition: transform 0.3s;

    }
  }
  &__item--active &__icon{
    transform: rotate(0deg);
  }
  
  
}
.top-act{
  @extend %flexItemsCenter;
  gap: 20px;
  margin-left: auto;

  @include abstracts.screen(sm) {
    margin-left: 0;
  }

  @include abstracts.screen(md) {
    margin-left: 0;
  }

  &__group{
    @extend %flexItemsCenter;
    min-width: 50px;
    border-radius: 8px;
    background:  var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

    
  }
  &__group--single &__btn{
    padding: 13px;
  }
  &__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }
  
  &__btn{
    @extend %flexItemsCenter;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }
  &__title{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%; /* 146.667% */
  }
  &__separate{
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }


  &__avatar{
    display: block;
    width: 50px;
    height: 50px; 
    border-radius: 8px;
  }
}
.nav-btn{
  height: 50px;
  padding: 0 40px;
  align-items: center;

  @include abstracts.screen(sm) {
    padding: 0 20px;
    height: 44px;
  }
  &__title{
    line-height: 146.667%; /* 146.667% */
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 16px;
  }
  &__quantity{
    line-height: 146.667%; /* 146.667% */
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: auto;
  }
}